<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <title>Blog App - microverse project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <% if flash.notice %>
    <p class="flash">
      <%= flash.notice %>
    </p>
  <% end %>

  <%= yield %>
  
  <hr>
  <h6>
    <% if logged_in? %>
      <%= "Logged in as #{current_user.email}" %>
      <%= link_to "(logout)", logout_path %>
    <% else %>
      <%= link_to "(login)", login_path %>
    <% end %>
  </h6>
</body>
</html>
